@import "../../styles/mds";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25rem 25rem 22rem;
  gap: 55rem;

  .topSection, .bottomSection {
    display: flex;
  }

  .leftPanel, .rightPanel {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    margin-bottom: 12rem;
    flex: 1 1 100%;
  }

  .rightPanel {
    align-items: flex-end;
  }

  .middlePanel {
    display: flex;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 8rem;
    white-space: nowrap;
    color: $t-black;
    font-family: "Syne", sans-serif;
    font-size: 18rem;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.85;

    .icon {
      font-size: 12rem;
      opacity: 0.4;
    }
  }

  .img-item {
    height: 70rem;
  }
}
