<div class="footer">
  @if ((deviceType$ | async) === DeviceType.mobile) {
    <button>Menu</button>
  } @else {
    <div class="topSection">
      <div class="leftPanel">
        @for (item of FooterData.rightPanel; track item.id) {
          <app-footer-item [item]="item"></app-footer-item>
        }
        <div class="social">
          @for (item of FooterData.social; track item.id) {
            <app-footer-item [item]="item"></app-footer-item>
          }
        </div>
      </div>
      <div class="middlePanel">
        @for (item of FooterData.middlePanel; track item.id) {
          <app-footer-item [item]="item"></app-footer-item>
        }
      </div>
      <div class="rightPanel">
        @for (item of FooterData.leftPanel; track item.id) {
          <app-footer-item [item]="item"></app-footer-item>
        }
      </div>
    </div>
    <div class="bottomSection">
      <div class="leftPanel">
        <span> {{ 'footer.copyright' | translate }} </span>
      </div>
      <div class="middlePanel">
        <a [routerLink]="navigationItems.terms.text.relativePath"> {{ navigationItems.terms.text.caption | translate }}</a>
        <span> {{ 'footer.cookies' | translate }} </span>
      </div>
      <div class="rightPanel">
        <cm-dropdown-language></cm-dropdown-language>
      </div>
    </div>
  }
</div>
