@import "../../styles/mds";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25rem 0 22rem;
  gap: 55rem;

  .topSection, .bottomSection {
    display: flex;
    text-transform: uppercase;
  }

  .leftPanel, .rightPanel {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    gap: 12rem;
  }

  .rightPanel {
    align-items: flex-end;
  }

  .middlePanel {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    gap: 32rem;
  }

  .topSection {
    .leftPanel, .rightPanel {
      margin-bottom: 12rem;
    }

    .social {
      display: flex;
    }
  }

  .bottomSection {
    align-items: center;

    .leftPanel, .middlePanel, .rightPanel {
      align-items: center;
      flex-direction: row;
    }

    .leftPanel {
      font-size: 11rem;
      font-weight: 500;
      opacity: 0.4;

    }

    .middlePanel {
      span, a {
        font-size: 12rem;
        font-weight: 400;
        padding: 0 4rem;
        @include textHoverUnderline()
      }
    }

    .rightPanel {
      justify-content: flex-end;

      .icon {
        font-size: 12rem;
      }
    }
  }
}

