<div class="header">
  <div [class.mobile]="!isDesktop" class="leftPanel">
    @if (isDesktop) {
      @for (item of HeadersData.leftPanel; track item.id) {
        <app-header-item [item]="item"></app-header-item>
      }
    }
  </div>
  <div [class.mobile]="!isDesktop" class="middlePanel">
    @for (item of HeadersData.middlePanel; track item.id) {
      <app-header-item [item]="item"></app-header-item>
    }
  </div>
  <div [class.mobile]="!isDesktop" class="rightPanel">
    @if (isDesktop) {
      @for (item of HeadersData.rightPanel; track item.id) {
        <app-header-item [item]="item"></app-header-item>
      }
    } @else {
      <app-side-menu [items]="SideMenuData"></app-side-menu>
    }
  </div>
  <!--  }-->
</div>
