@import "../../styles/mds";

.header {
  display: flex;
  justify-content: space-between;
  padding: 18rem 25rem 12rem;

  .leftPanel, .rightPanel {
    display: flex;
    align-items: flex-end;
    flex: 1 1 100%;
    margin-bottom: 12rem;
    gap: 40rem;

    &.mobile {
      margin-bottom: 0;
    }
  }

  .rightPanel {
    justify-content: flex-end;

    &.mobile {
      align-items: center;
    }
  }

  .middlePanel {
    display: flex;
    height: 70rem;

    &.mobile {
      height: 34rem;
    }
  }
}
