@import "styles/mds";

:host {
  font-size: 16rem;
  display: flex;
  overflow: hidden;
  flex: 0 0 100%;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

.view {
  display: flex;
  overflow-y: auto;
  flex: 1 1 0;
  flex-direction: column;
  padding: 32rem;
}

.content {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
}
